<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Little Women Sentence Generator</title>
</head>
<body>
    <div class="container">
        <h1>Little Women Sentence Generator</h1>
        <div class="sentence">
            {{ sentence }}
        </div>
        <button onClick="window.location.reload()" id="generate-btn">Generate Sentence</button>
    </div>
</body>
</html>